/*.App {
  text-align: center;
}*/

/* Login.js /Register_User.js -----------------*/
.cont{
    margin-top: 15%;
}
.cont_reg{
    margin-top: 12%;
}
.cont1{
    margin-top: 10%;
}
.cont_reg1{
    margin-top: 4%;
}
.Ltext{
    text-align: center;
}
.Uptext{
    text-align: right;
}
  
/* NewLead.js -----------------------------*/
.fieldset1{
    border:2px solid grey;
}
.fieldset2{
    display: inline-block;
    border:2px solid red;
}

/*Lead_dashboard.js-----------------------*/
.sidenav{
    width:10%;
    float:left;
    background-color: LightGray;
}
.cont_lead{
    margin: 5%;
}

/* Ltype_New.js-------------------------*/
.lnew_btns{
    margin-left: 3%;
    width: 13%;
}



.custom-modal-style {
    width: 897px;
    height: 802px;
}
.modalbutton1{
    float: right;
    margin-right: 30px;
}
.modalradio{
    width: 90%;
}